.document__subsection {

  margin: 1rem 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    display: block;
    content: '';
    height: 0;
    width: 50%;
    max-width: 200px;
    border-bottom: 1px solid #ccc;
    margin: 1rem auto;
  }

}
