.DS_Store
.idea
__pycache__
venv
*.pyc
*.mwb.bak
*.mwb
tests/data/lettres-test.sqlite
/app/client/node_modules/

# Frontend directories and files

node_modules/
npm-debug.log*
*.js.map
report.html
tests/data/lettres.test.sqlite
tmp/
*.env
*/.vscode
