alabaster==0.7.11
anytree==2.4.3
appdirs==1.4.3
asn1crypto==0.24.0
Babel==2.6.0
backcall==0.1.0
bleach==2.1.4
btrfsutil==1.0.0
CacheControl==0.12.5
cached-property==1.5.1
catfish==1.4.6
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.4.0
cryptography==2.3.1
decorator==4.3.0
distlib==0.2.8
distro==1.3.0
dnspython==1.15.0
docker==3.5.1
docker-compose==1.23.1
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
elasticsearch==6.3.1
entrypoints==0.2.3
evdev==1.1.2
eventlet==0.24.1
Faker==1.0.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
greenlet==0.4.15
gufw==18.10.0
gunicorn==19.9.0
html5lib==1.0.1
idna==2.7
imagesize==1.1.0
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
itsdangerous==0.24
Jade-Application-Kit==1.3.5
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
keyutils==0.5
lensfun==0.3.2
lightdm-gtk-greeter-settings==1.2.2
lit==0.7.0.dev0
lockfile==0.12.2
louis==3.7.0
lutris==0.4.19
lxml==4.2.4
MarkupSafe==1.0
menulibre==2.2.0
mistune==0.8.3
monotonic==1.5
msgpack==0.5.6
mugshot==0.4.1
nbconvert==5.3.1
nbformat==4.4.0
neovim==0.3.0
nose==1.3.7
notebook==5.6.0
npyscreen==4.10.5
packaging==17.1
pacman-mirrors==4.14.0
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.3.0
pockets==0.6.2
progress==1.4
prometheus-client==0.3.1
prompt-toolkit==1.0.15
psutil==5.4.7
ptyprocess==0.6.0
pycairo==1.17.0
pycparser==2.18
Pygments==2.2.0
PyGObject==3.30.2
pyparsing==2.2.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyside==1.2.4
python-dateutil==2.7.3
python-distutils-extra==2.39
python-dotenv==0.9.1
pytoml==0.1.20
pytz==2018.5
pyxdg==0.26
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.1
reportlab==3.5.9
requests==2.20.1
retrying==1.3.3
Send2Trash==1.5.0
simplegeneric==0.8.1
sip==4.19.13
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.9
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.11
SQLAlchemy-Utils==0.33.3
team==1.0
terminado==0.8.1
testpath==0.3.1
text-unidecode==1.2
texttable==1.5.0
tornado==5.1
traitlets==4.3.2
udiskie==1.7.5
ufw==0.35
urllib3==1.23
virtualenv==16.0.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.14.1
widgetsnbextension==3.4.0
