Click==7.0
dnspython==1.15.0
elasticsearch==6.3.1
eventlet==0.24.1
Faker==1.0.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
greenlet==0.4.15
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
monotonic==1.5
python-dateutil==2.7.5
python-dotenv==0.9.1
six==1.11.0
SQLAlchemy==1.2.14
SQLAlchemy-Utils==0.33.8
text-unidecode==1.2
urllib3==1.24.1
Werkzeug==0.14.1
