{
  "compact": false,
  "presets": [
    ["env", { "modules": false }],
    "@babel/preset-env"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}],
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
      ]
    }
  }
}
