{% extends 'base.html' %}


{% block head_scripts %}
    <script type="text/javascript" id="embedUV" src="http://universalviewer.io/vendor/uv/lib/embed.js"></script>
{% endblock head_scripts %}

{% block content %}
    <section class="section edition-section">
        <div id="app" data-document-id="{{ id }}"></div>
    </section>

    <div class="uv"
         data-locale="en-GB:English (GB),fr-FR:Français"
         data-uri="{{base_url}}{{url_for('api_bp.get_collection', api_version='1.0', doc_id=id)}}"
         style="width:77%; height:777px; margin-left: 30px; margin-bottom: 80px; background-color: #DFDFDF">

    </div>
{% endblock content %}



{% block scripts %}
    <script type="text/javascript" src="{{url_for('app_bp.static', filename='js/document.build.js') }}"></script>
{% endblock %}