
.collection-list-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;


  i.v-treeview-node__toggle {
    font-size: 2em !important;
  }

  i.v-treeview-node__checkbox {
    font-size: 1.2em !important;
  }

}

