.institution-form {
  min-height: 400px;
  min-width: 860px;

  &__search-ref {

  }

  &__input-ref {

  }

  &__link-to-ref {
    border-top: 1px solid #dbdbdb;
    margin-top: 18px;
    padding-top: 18px;
  }

  &__separator {
    padding-top: 22px;
  }

}
