
.homepage__iiif-viewer {
  top: 16px;
  background-color: white !important;

  .container {
  }

  .uv {
    width: 732px;
    height: 800px;
    background-color: white;
  }

  .homepage__iiif-viewer__toggle-btn {
    top: 10px;
    left: 10px;
    background-color: #b71c1c !important;
  }

  .homepage__iiif-viewer__toggle-icon {
    color: white !important;
    width: 34px;
    height: 34px;
  }
}