.argument {
  &__header {
  }

  &__content .button {
    margin-top: 1rem;
  }
  &__title::before {

    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: .5em;
    background: url(#{$image-path}/icons/document-argument.svg) no-repeat 50% 50%;
    vertical-align: top;

  }
}
.collection-item {
  display: flex;
  margin-bottom: .5em;
}
