.document-correspondents {
  &__header {
    margin-bottom: 2em;
  }

  &__content .button {
    margin-top: 1rem;
  }
  &__title::before {

    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: .5em;
    background: url(#{$image-path}/icons/document-correspondents.svg) no-repeat 50% 50%;
    vertical-align: top;

  }

  &__subtitle {
    margin-bottom: 1em;
    &::before {

      //content: '';
      //display: inline-block;
      //height: 1.2em;
      //width: 1.2em;
      //margin-right: .5em;
      //background: url(#{$image-path}/icons/document-sender.svg) no-repeat 50% 50%;
      //vertical-align: top;

    }
    &--recipient::before {
      //background-image: url(#{$image-path}/icons/document-recipients.svg)
    }
  }

  &__recipients, &__senders {
    .button {
      display: inline-block;
      height: 1em;
      vertical-align: baseline;
     // margin-top: 1rem;
    }
  }
}
.correspondent-item {
  margin-bottom: .5em;

  &__add {
    margin-top: 1em;
  }

  &__delete {
    display: inline-block;
    height: 1em;
    vertical-align: baseline;

    svg {
      display: block;
      height: 100%;
    }

  }
}
