.witness-list__title::before {

  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: .5em;
  background: url(#{$image-path}/icons/document-witnesses.svg) no-repeat 50% 50%;
  vertical-align: top;

}

.witness-list {


  &__header {
    margin-bottom: 1em;
  }

  &__list {
    //list-style-type: square;

  }
  &__content .button {
    margin-top: 1rem;
  }
}
.witness-item {

  $action-w: rem-calc(24);

  display: flex;
  margin-bottom: .5em;

  &__iiif-logo {
    width: 17px;
    display: inline-block;
    filter: grayscale(100%) brightness(250%) contrast(30%);
  }

  &__iiif-logo:hover {
    filter: unset;
  }

  &__text {
    display: inline-block;
  }

  &__edit, &__delete {
    display: inline-block;
    vertical-align: middle;
  }

  &__order {
    margin-right: .5em;
    width: $action-w * 2;
    flex: 0 0 $action-w * 2;
  }
  &__order-button {
    display: block;
    border: none;
    width: $action-w;
    height: $action-w;
    padding: 0;
    float: left;
    &:focus {
      outline: none;
    }
  }
  &__order-button-up {

    float: right;
  }

  .line {
    stroke: white;
  }

}

.witness-form, .modal-card, .modal-content{
 width: auto !important;
 min-width: 860px !important;
}
