.field-select-autocomplete, .field-list-autocomplete {

  &__wrapper {
    position: relative;

    .control {
      display: inline-block;
    }
  }
  &__search, &__footer {
    padding: 1em;
  }
  &__results {
    position: relative;
  }
  &__items {
    padding: 0;
    margin: 0;
    border: 1px solid #dbdbdb;
    border-width: 1px 0;
    min-height: 4em;
    max-height: 9em;
    overflow: auto;
    width: 100%;
  }

  &__item {
    list-style: none;
    text-align: left;
    line-height: 2em;
    cursor: pointer;
    padding: 0 1em;

    &.is-active,
    &:hover {
      background-color: $blue;
      color: white;
    }
  }

}
.field-select-autocomplete {

  &__value {

    @include input;
    cursor: pointer;
    padding-right: 2.5em;

    &::after {
      @extend %arrow;
      border-color: $input-arrow;
      right: 1.125em;
      z-index: 4;
    }
  }
  &__searchbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //margin-top: -2.25em;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background: #fff;
    z-index: 10;

  }
  &__items {
    min-height: 4em;
    max-height: 9em;
  }

}
.field-list-autocomplete {
  &__items {
    height: 9em;
    overflow: auto;
    width: 100%;
  }
}
