$icon-default-color: #ccc;
.icon {

  width: 1rem;
  height: 1rem;
  padding: .25rem;
  box-sizing: initial;

  &__fill {
    fill: $icon-default-color;
  }
  &__line {
    fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;
    stroke: $icon-default-color;
  }

  &__add:hover {
    .icon__line {
      fill: $blue;
    }
  }
  &__pen-edit:hover {
    .icon__line {
      stroke: $blue;
    }
  }
  &__arrow-down, &__add {
    &:hover {
      cursor: pointer;
      .icon__line {
        stroke: $blue;
      }
    }
  }
  &__save {
    .icon__line {
      stroke: $white;
    }
  }
  &__success {
    .icon__line {
      stroke: $success;
    }
  }
}

.icon__bin:hover {
  .icon__line {
    stroke: $danger;
  }
}

.field-text__icon, .field-date__icon {
  &.icon:hover {
    .icon__fill {
      fill: $icon-default-color;
    }
    .icon__line {
      stroke: $icon-default-color;
    }
  }
}
.button.is-success, .button.is-danger {
  .icon {
    .icon__fill {
      fill: $white;
    }
    .icon__line {
      stroke: $white;
    }
  }
}