.icon {

  width: 1rem;
  height: 1rem;
  padding: .25rem;
  box-sizing: initial;

  &__fill {
    fill: #ccc;
  }
  &__line {
    fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;
    stroke: #ccc;
  }

  &__add:hover {
    .icon__line {
      fill: $blue;
    }
  }
  &__pen-edit:hover {
    .icon__fill {
      fill: $blue;
    }
  }
  &__arrow-down, &__add {
    &:hover {
      cursor: pointer;
      .icon__line {
        stroke: $blue;
      }
    }
  }
  &__save, &__success {
    .icon__line {
      stroke: $white;
    }
  }
}

.icon__bin:hover {
  .icon__fill {
    fill: $red;
  }
}