.icon {

  width: 1rem;
  height: 1rem;
  padding: .25rem;
  box-sizing: initial;

  &__fill {
    fill: #ccc;
  }
  &__line {
    fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;
    stroke: #ccc;
  }
}

.icon__bin:hover {
  g, path {
    fill: $red;
  }
}
.icon__pen-edit:hover {
  g, path {
    fill: $blue;
  }
}
.icon__arrow-down:hover {
  cursor: pointer;
  .icon__line {
    stroke: $blue;
  }
}