
.lock-form {

  font-size: 1rem !important;
  font-weight: normal;

  .modal-card {
    min-width: 640px;
    min-height: 610px;
  }

  .lock-form__description {
    margin-top: 20px;
    margin-bottom: 20px;

    .lock-form__description__lock-dates {
      padding: 0 0 18px 0;
    }
  }

  .lock-form__textarea {
    margin-top: 20px;
    margin-bottom: 20px;

    textarea {
      margin-top: 10px;
    }
  }
}
