
.lock-tag {
  background-color: #343642 !important;
  color: white !important;
}

.lock-form {

  font-size: 1rem !important;
  font-weight: normal;

  .modal-card {
    min-width: 640px;
    min-height: 500px;
  }

  .lock-form__description {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
